data/*.htfa_model filter=lfs diff=lfs merge=lfs -text
data/*.htfa_guide filter=lfs diff=lfs merge=lfs -text
data/*.dtfa_guide filter=lfs diff=lfs merge=lfs -text
data/*.dtfa_model filter=lfs diff=lfs merge=lfs -text
data/*.*tfa_* filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/synthetic_data_dtfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/Synthetic_Data_Nofrills_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/example_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/lepping_2017_htfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/mini_pieman_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/new_pieman_word_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_dtfa_visualizations.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/synthetic_data_htfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/lepping_2017_dtfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/lepping_2017_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/lepping_2017_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/mini_pieman_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/new_pieman_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/synthetic_data_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/AffVids2018_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/affvids_htfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/example_tfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/pieman_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/affvids_dtfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/affvids_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_merlin_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/pieman_dtfa_visualizations.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/pieman_htfa_visualizations.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/pieman_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/plot_accuracies.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/synthetic_data_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/synthetic_data_htfa.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/Synthetic_Data_Nofrills_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/lepping_2017_db.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/mini_pieman_dtfa_visualization.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/affvids_dtfa_visualizations.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/sherlock_merlin_db.ipynb filter=lfs diff=lfs merge=lfs -text
